
/* reset css*/
h1{
    margin:0;
    padding:0;
}

img{
    width: 300px;
}

/* regras css do box model */
.card{
     padding: 10px;
     background-color: #dedede;
     width: max-content;
     border: 1px solid #b8b8b8;
     display: inline-block;
     margin-right: 10px;
    }
    
    .title{

        font-weight: bold;
        text-transform: capitalize;
        padding: 5px;
    }

    .text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    width: 300px;
    }

    /* estrutura de centralização */
    .conteiner{
    margin: 0 auto;
    width: max-content;
    padding: 20px;
    background-color: #ffffff;
    }

    body{
        background-color: aqua;
    }



